.main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 64px auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-items: stretch;
    align-items: stretch;
    height: 100vh;
}

.content {
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-columns: 64px auto 64px;
}

.grid-column-left, .grid-column-right {
    display: grid;
    background-color: #424242;
    color: #eee;
}

.tools-panels {
    display: grid;
}

#scene {
    position: fixed;
    width: 800px;
    height: 600px;
}

.hidden {
    display: none;
}

/* appMenu styles */
.app-menu .logout-button {
    letter-spacing: 0;
    text-transform: none;
    box-shadow: none;
}

.app-menu {
    background-color: #fff;
    position: absolute;
    max-width: 600px;
    top: 66px;
    left: 66px;
}
.app-menu .main-menu-wrapper {
    display: grid;
    grid-template-columns: 8fr 8fr 8fr 8fr;
    grid-template-rows: 10fr 10fr 5fr;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}
.app-menu .app-menu-item {
    background-color: #424242;
    color: #eee;
    text-align: center;
    padding: 15px;
}
.app-menu .app-menu-item.square i {
    display: block;
    position: relative;
    width: 180px;
    font-size: 32px;
}
.app-menu .app-menu-item.flat-left i {
    position: relative;
    font-size: 24px;
    grid-column: 1 / 2;
}
.app-menu .app-menu-item.flat-right i {
    position: relative;
    font-size: 24px;
    grid-column: 3 / 4;
    grid-row: 3;
}

/* /appMenu styles */

/* loginSignupForms */
.login-signup-switcher {
    padding-top: 20px;
    text-align: center;
}
/* /loginSignupForms */
